<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>

    <!-- Enlace al CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">

</head>
<body>
    <h1>{{ titulo }}</h1>
    <p>{{ autor }}</p>

    <!-- Botón de inicio de sesión -->
    <a href="{{ url_for('login') }}">
        <button>Iniciar sesión</button>
    </a>

    <!-- Botón de registro -->
    <a href="{{ url_for('singup') }}">
        <button>Registrarse</button>
    </a>

</body>
</html>
