<div class="modal fade"
     id="deleteConfirmModal"
     tabindex="-1"
     aria-labelledby="deleteConfirmModalLabel"
     aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content app-surface delete-modal-panel border-0">

      <div class="modal-header delete-modal-header border-0">
        <div class="delete-modal-heading">
          <h2 class="modal-title delete-modal-title" id="deleteConfirmModalLabel">
            {{ t("modal.delete_title") }}
          </h2>
          <p class="delete-modal-sub">
            {{ t("modal.delete_subtitle") }}
          </p>
        </div>

        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="{{ t('common.close') }}">
        </button>
      </div>

      <div class="modal-body delete-modal-body">
        <p class="delete-modal-question"
           data-delete-template="{{ t('modal.delete_question', item='__ITEM__') }}">
          {{ t("modal.delete_question", item="") }}
          <span class="delete-modal-file" id="deleteItemName"></span>
        </p>
      </div>

      <div class="modal-footer delete-modal-footer border-0">
        <button type="button"
                class="btn btn-outline-light btn-header"
                data-bs-dismiss="modal">
          {{ t("common.cancel") }}
        </button>

        <button id="confirmDeleteBtn"
                type="submit"
                class="btn btn-danger btn-header">
          {{ t("common.delete") }}
        </button>
      </div>

    </div>
  </div>
</div>
