<div class="modal fade" id="chunksModal" tabindex="-1" aria-labelledby="chunksModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content chunks-modal-panel">
      <div class="modal-header border-0 pb-0">
        <div>
          <h2 class="modal-title fs-5 text-white" id="chunksModalLabel">Detalles de chunks</h2>
        </div>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>

      <div class="modal-body pt-2" id="chunks-modal-body"></div>
    </div>
  </div>
</div>